{% extends "base.html" %}
{% load static %}

{% block title %}Edit Profile - KarateLog {% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Edit User Settings</p>
                            </div>
                            <div class="card-body shadow">
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.errors }}
                                    </div>
                                {% endif %}
                                <form class="user" action="." method="post">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="username"><strong>Username</strong></label>
                                                {{ form.username }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="email"><strong>Email Address</strong></label>
                                                {{ form.email }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="first_name"><strong>First Name</strong></label>
                                                {{ form.first_name }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="last_name"><strong>Last Name</strong></label>
                                                {{ form.last_name }}
                                            </div>
                                        </div>
                                    </div>
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-3 mb-3 mb-sm-0">
                                        </div>
                                        <div class="col-sm-3 mb-3 mb-sm-0">
                                            <input class="default btn btn-primary d-block btn-user w-100"  type="submit" value="Save" name="_save">
                                        </div>
                                        <div class="col-sm-3 mb-3 mb-sm-0">
                                            <input class="btn btn-primary d-block btn-user w-100" type="submit" value="Save and Edit Profile" name="_continue">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
