{% extends "base.html" %}
{% load static %}

{% block title %}Club{% endblock title %}
{% block activeclub %} active {% endblock activeclub %}
{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-uppercase mb-0">Dojo Residents</h5>
        </div>
        <div class="table-responsive">
            <table class="table no-wrap user-table mb-0">
                <thead>
                <tr>
                    <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                    <th scope="col" class="border-0"></th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Name</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Date of Birth</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Gender</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Degree</th>
                    <th scope="col" class="border-0 text-uppercase font-medium">Status</th>
                    {% if user.is_staff %}
                        <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for profile in object_list %}
                <tr>
                    <td class="pl-4">{{ forloop.counter }}</td>
                    <td>
                        {% if profile.photo.url is not null %}
                            <img class="rounded-circle me-2" width="30" height="30" src="{{ profile.photo.url }}">
                        {% else %}
                            <img class="rounded-circle me-2" width="30" height="30" src="{%static "img/avatars/nophoto.jpeg" %}">
                        {% endif %}
                    </td>
                    <td>
                        <h5 class="font-medium mb-0">{{profile.fullname}}</h5>
                        <span class="text-muted">{{profile.username}}</span>
                    </td>
                    <td>
                        <span class="text-muted">{{profile.date_of_birth}}</span><br>
                        <span class="text-muted">Age : {{profile.age}}</span>
                    </td>
                    <td>
                        <span class="text-muted">{{profile.gender}}</span><br>
                    </td>
                    <td>
                        <span class="text-muted">{{profile.degree}}</span><br>
                    </td>
                    <td>
                        {% for status in profile.profileType.all %}
                            <span class="text-muted">{{status}}</span><br>
                        {% endfor %}
                    </td>
                    {% if user.is_staff %}
                        <td>
                            {% if perms.auth.change_user %}
                                <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle">
                                    <i class="fa fa-edit"></i>
                                </button>
                            {% endif %}
                            {% if perms.auth.delete_user %}
                                <button type="button" class="btn btn-outline-danger btn-circle btn-lg btn-circle ml-2">
                                    <i class="fa fa-trash"></i>
                                </button>
                            {% endif %}
                            <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2">
                                <i class="fa fa-upload"></i>
                            </button>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        {% if perms.auth.add_user %}
        <a href="/account/admin/user_add">
            <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle">
                <i class="fa fa-plus"></i>
            </button>
        </a>
        {% endif %}
    </div>
    {% include "include/paginator_include.html" with page=page %}
</div> 
{% endblock content %}
