{% extends "auth_base.html" %}
{% load static %}

{% block title %}Register - KarateLog {% endblock title %}
{% block content %}
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-flex">
                    <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;{%static "img/dogs/image2.jpeg" %}");"></div>
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Create an Account!</h4>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                        <form class="user" action="." method="post">
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-6 mb-sm-0">
                                    {{ form.username }}
                                </div>
                                 <div class="col-sm-6 mb-6 mb-sm-0">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-6 mb-sm-0">
                                    {{ form.first_name }}
                                </div>
                                 <div class="col-sm-6 mb-6 mb-sm-0">
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    {{ form.password }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.password2 }}
                                </div>
                            </div>
                            {% csrf_token %}
                            <button class="btn btn-primary d-block btn-user w-100" type="submit">Register Account</button>
                            <!--
                            <hr>
                                <a class="btn btn-primary d-block btn-google btn-user w-100 mb-2" role="button"><i class="fab fa-google"></i>&nbsp; Register with Google</a>
                                <a class="btn btn-primary d-block btn-facebook btn-user w-100" role="button"><i class="fab fa-facebook-f"></i>&nbsp; Register with Facebook</a>
                            <hr>
                            -->
                        </form>
                        <hr>
                        <div class="text-center"><a class="small" href="/forgot-password">Forgot Password?</a></div>
                        <div class="text-center"><a class="small" href="{% url 'account:account_user_login' %}">Already have an account? Login!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
