{% extends "base_dashboard.html" %}
{% load static %}

{% block title %}Edit Profile - KarateLog {% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Profile Settings</p>
                            </div>
                            <div class="card-body shadow">
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.errors }}
                                    </div>
                                {% endif %}
                                <form class="profile" action="." method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="text-center">
                                            {% if user.profile.photo.url is not null %}
                                                <img class="rounded-circle mb-3 mt-4" src="{{ user.profile.photo.url }}" width="160" height="160">
                                            {% endif %}
                                            <br>
                                            {{ profile_form.photo }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="country"><strong>Country</strong></label>
                                                {{ profile_form.country }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="city"><strong>City</strong></label>
                                                {{ profile_form.city }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="address"><strong>Address</strong></label>
                                                {{ profile_form.address }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="gender"><strong>Gender</strong></label>
                                                <p>
                                                    <select name="gender" id="id_gender">
                                                        <option value={{ profile_form.gender }}</option>
                                                    </select>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="phone"><strong>Phone Number</strong></label>
                                                {{ profile_form.phone }}
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label" for="date_of_birth"><strong>Date of Birth</strong></label>
                                                {{ profile_form.date_of_birth }}
                                            </div>
                                        </div>
                                    </div>
                                    {% csrf_token %}
                                    <div class="mb-3 text-center">
                                        <button class="btn btn-primary btn-sm" type="submit">Save Settings</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
