{% extends "base_dashboard.html" %}
{% load static %}

{% block title %}Club{% endblock title %}
{% block activeclub %} active {% endblock activeclub %}
{% block content %}
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Club residents</p>
        </div>
        <div class="card-body">
            <div class="row">
                <!--<div class="col-md-6 text-nowrap">
                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                        <label class="form-label">Show&nbsp;
                            <select class="d-inline-block form-select form-select-sm">
                                <option value="10" selected="">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>&nbsp;
                        </label>
                    </div>
                </div>-->
                <!--<div class="col-md-6">
                    <div class="text-md-end dataTables_filter" id="dataTable_filter">
                        <label class="form-label">
                            <form>
                                <input id="searchBox" type="text"  class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" />
                            </form>
                        </label>
                    </div>
                </div>
            </div>-->
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                    <tr>
                        <th>FullName</th>
                        <th>NickName</th>
                        <th>Date of Birth</th>
                        <th>Age</th>
                        <th>Ku</th>
                        <th>Gender</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in object_list %}
                    <tr>
                        <td>
                            {% if profile.photo.url is not null %}
                            <img class="rounded-circle me-2" width="30" height="30" src="{{ profile.photo.url }}">
                            {% else %}
                            <img class="rounded-circle me-2" width="30" height="30" src="{%static "img/avatars/nophoto.jpeg" %}">
                            {% endif %}
                            {{profile.fullname}}
                        </td>
                        <td>{{profile.username}}</td>
                        <td>{{profile.date_of_birth}}</td>
                        <td>{{profile.age}}</td>
                        <td></td>
                        <td>{{profile.gender}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td><strong>FullName</strong></td>
                        <td><strong>NickName</strong></td>
                        <td><strong>Date of Birth</strong></td>
                        <td><strong>Age</strong></td>
                        <td><strong>Ku</strong></td>
                        <td><strong>Gender</strong></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            {% include "include/paginator_include.html" with page=page %}
        </div>
    </div>
</div>
{% endblock content %}
