{% extends "base.html" %}
{% load static %}

{% block title %}Update Event{% endblock title %}
{% block activeevents %} active {% endblock activeevents %}
{% block content %}
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Update Event</p>
                            </div>
                            <div class="card-body shadow">
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.errors }}
                                    </div>
                                {% endif %}
                                <form class="user" action="." method="post">
                                    <div class="row mb-12">
                                        <div class="col-sm-6 mb-6 mb-sm-0">
                                            <div class="row">
                                                <div class="col-sm-12 mb-12 mb-sm-0">
                                                    {{ form.title }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-4 mb-4 mb-sm-0">
                                                    {{ form.country }}
                                                </div>
                                                <div class="col-sm-4 mb-4 mb-sm-0">
                                                    {{ form.city }}
                                                </div>
                                                <div class="col-sm-4 mb-4 mb-sm-0">
                                                    {{ form.upload }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-4 mb-4 mb-sm-0">
                                                    <label style="display: block; text-align: center" for="start_date">Event Start Date:</label>
                                                    {{ form.start_date }}
                                                </div>
                                                <div class="col-sm-4 mb-4 mb-sm-0">
                                                    <label style="display: block; text-align: center" for="end_date">Event End Date:</label>
                                                    {{ form.end_date }}
                                                </div>
                                                <div class="col-sm-4 mb-4 mb-sm-0">
                                                    <label style="display: block; text-align: center" for="subscribe_date">Last Subscribe Date:</label>
                                                    {{ form.subscribe_date }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 mb-6 mb-sm-0">
                                            <div class="col-sm-12 mb-12 mb-sm-0">
                                                {{ form.description }}
                                            </div>
                                        </div>
                                    </div>
                                    {% csrf_token %}
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4 mb-4 mb-sm-0">
                                        </div>
                                        <div class="col-sm-3 mb-3 mb-sm-0">
                                            <input class="default btn btn-primary d-block btn-user w-100"  type="submit" value="Save" name="_save">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
